


/*-------------- Общие свойства----------------- */
:root{
  --item-color: #81B3D2;
  --black-font:#000000;
  --white-font: #FFFFFF;
  --selection-color: #81B3D2;
  --features-gray: #EEEEEE;
  --footer-color: rgba(255, 255, 255, 0.9);
  --hover-button: #669EC0;
  --active-button: #5496BD;
  --academy-gray: #BDBBBC;
  --academy-black: #231f20;
  --menu-item: #766357;
  --button-book-hover: #604E43;
  --button-book-active: #503E33;
}
body{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  background-color: var(--features-gray);
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.page-body{
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*---------------------------Меню----------------------*/
.site-navigation{
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  color: var(--black-font);
  background-color: var(--white-font);
}
.site-navigation a{
  display: block;
  padding: 15px 15px;
  color: var(--black-font);
  text-decoration: none;
}
.site-navigation li{
  width: 240px;
}
.site-navigation li:first-child{
  padding-left:72px;
}
.site-navigation li:last-child{
  padding-right: 72px;
  align-self: flex-end;
}
.site-navigation li:nth-child(2){
  align-self: center;
}
.site-navigation li:nth-child(3){
    align-self: center;
    margin-left: 240px;
}
.site-navigation a:hover{
  color:var(--selection-color);
}
.site-navigation a:active{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.menu{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.hotels-menu a, .hotels-menu a:hover, .hotels-menu a:active{
  color: var(--menu-item);
}
.logo{
  position: absolute;
  left: 50%;
  margin-left: -69px;
}
.mainpic svg{
  margin: 80px 0px;
}
/*------------------------Футер-----------------------*/
.contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.contacts a{
  display: flex;
  flex-wrap: nowrap;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font);
  text-decoration: none;
  padding: 0px 90px;
}
.academy{
  display: flex;
  align-items: center;
  justify-content: center;
    fill: var(--academy-black);
}
.academy:hover path{
  fill: var(--active-button);
}
.academy:active path{
  fill: var(--academy-gray);
}
.academy span{
  padding: 0px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-footer{
  z-index: 5;
  width: 1200px;
  margin:-120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
  background-color: var(--footer-color);
}
.hotels-footer{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
  background-color: var(--footer-color);

}
.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: inherit;
}
.social a:hover{
  background-color: var(--hover-button);
}
.social a:active{
  background-color: var(--active-button);
}
.social a:active path{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.social a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--selection-color);
}
.social li{
  margin-left: 6px;
  margin-right: 6px;
}
.visually-hidden{
  position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
/*----------------Свойства для index---------------*/
.mainpic{
  display: flex;
  justify-content: center;
  background: url(../img/background-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.description h1{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-font);
  text-align: center;
}
.description p{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.reasons{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.reasons-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--item-color);
  text-align: center;
  width:400px;
  padding: 50px;
}
.reasons-item h3{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 21px;
  line-height: 21px;
}
.reasons-item span, .reasons-item p {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 14px;
  line-height: 21px;
}
.reasons-image img{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 800px;
}
.features{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--features-gray);
}
.features-item{
  justify-content: center;
  text-align: center;
}
.advantages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--white-font)
}
.advantages-item h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-item p{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
}
.interest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-font);
  padding-top:58px;
  padding-bottom:78px;
}
.interest h2{

  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font) ;
}
.interest p{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.booking{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -85px;
  background-color: var(--white-font);
   left:50%;
   margin-left:-300px;
}
.booking-form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
}
.booking-form div{
  padding: 15px;
}
.booking h2{
  margin: 0;
  padding: 30px 184px;
  background-color:var(--menu-item);
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--white-font);
}
.booking, input[name="arriving"], input[name="departure"], input[name="adult"], input[name="child"]{
  font-weight: bold;
  color: var(--black-font);
  text-align: center;
  text-transform: uppercase;
}
.booking h2:hover{
  background-color: var(--button-book-hover);
}
.booking h2:active{
  background-color:var(--button-book-active);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.find {
  align-self: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding:16px 160px;
  background: var(--item-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-font);
  border: 0;
}
.find:hover{
  background-color: var(--hover-button);
}
.find:active{
  background-color: var(--active-button);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.map{
  z-index: 0;
  position: relative;
  height: 594px;
  background-image: url(../img/map.png);
  background-color: var(--features-gray);
  background-size: cover;
  background-repeat: no-repeat;
}
/*--------------------Свойства для hotels-----------------*/
.selection {
  background-color: var(--selection-color);
  background-image: url(../img/blur-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom:10px;
  height:217px;
}
.selection-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.housing{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.infra{
  display: flex;
  flex-direction: column;
  padding-left:72px;
  margin-right: 119px;

}
.infra ul{
  padding-left: 30px;
}
.housing li{
  padding:10px 0px;
}
.type{
  display: flex;
  flex-direction: column;
}
.type ul{
  padding-left: 30px;

}
/*chek-boxes*/
.check-box{
  position: absolute;
  height: 23px;
  width: 23px;
  background-image: url(../img/checkbox-off.png);
  margin-left : -40px;
  cursor: pointer;

}
.check {
  position: relative;
  padding-left: 10px;
}
/*cheked check-boxes*/
.form-check:checked + .check-box{
  background-image: url(../img/checkbox-on.png);
}
/*disabled check-boxes*/
.form-check:disabled + .check-box{
  background-image: url(../img/checkbox-off-dis.png);
}
.form-check:checked:disabled + .check-box{
  background-image: url(../img/checkbox-on-dis.png);
}
.selection-form h2{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.selection-form ul{
  list-style-type: none;
}
/*Фильтр с диапазоном*/
.price{
  display: flex;
  flex-direction: column;
  color:var(--white-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
  padding-right:0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 316px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.filter-item legend {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}
.range-controls {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;
  height: 80px;
  background-color: none;
  border-radius: 5px;
  margin-bottom: -40px;
  padding-top: 39px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--white-font);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-around;
  border: 2px solid var(--white-font);
  border-radius: 2px;
}
.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}
.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--white-font);
  border: none;
  border-radius: 5px;
  background: none;
  font-family: inherit;
  font-size: inherit;
}
.price-rectangle{
  width: 2px;
  height: 22px;
  background-color: var(--white-font);
  align-self: center;
}
.show-button{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background:none;
  border: 2px solid var(--white-font);
  color:var(--white-font);
  border-radius: 2px;
  text-transform: uppercase;
  padding: 7px 35px;
  align-self: center;
  cursor: pointer;
}
.show-button:hover{
  color:var(--black-font);
  background-color:var(--white-font);
}
.hotel{
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: url(../img/line.png) repeat-x bottom center;
  height:150px;
}
.hotel-img{
  align-self:center;
}
.hotel-info{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.wrappers{
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.hotel-wrapper-content{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.hotel-wrapper-button{
  display: flex;
  flex-direction: column;
}

.rating-hotel-cart{


}
.hotel h1{
  margin-top:20px;
  width:100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hotel a{
  text-decoration: none;
  text-transform: uppercase;
}
.hotel span{
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.hotel-name {
  color: var(--black-font);
}
.hotel-name:hover{
  color: var(--selection-color);
}
.hotel-name:active{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.finder{
  display: flex;
  flex-direction: column;
  background-color: var(--white-font);
  padding: 5px;
}
.finder ul {
  list-style-type: none;
}
.button-more{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding:5px 17px;
  background-color:var(--selection-color);
  color: var(--white-font);
}
.button-more:hover{
  background-color: var(--hover-button);
}
.button-more:active{
  background-color: var(--active-button);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.button-book{
  padding:5px 17px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color:var(--menu-item);
  color: var(--white-font);
}
.button-book:hover{
  background-color: var(--button-book-hover);

}
.button-book:active{
  mix-blend-mode: normal;
  opacity: 0.3;
  background-color: var(--button-book-active);
}
