:root{
  --item-color: #81B3D2;
  --black-font:#000000;
  --white-font: #FFFFFF;
  --selection-color: #81B3D2;
  --features-gray: #EEEEEE;
  --footer-color: rgba(255, 255, 255, 0.9);
  --hover-button: #669EC0;
  --active-button: #5496BD;
  --academy-gray: #BDBBBC;
  --academy-black: #231f20;
  --menu-item: #766357;
  --button-book-hover: #604E43;
  --button-book-active: #503E33;
  --rating-text: #F2F2F2;
  --rating-number:#666666;
  --arrows:#CACACA;
  --arrows-hover:#000000;
  --arrows-active:#81B3D2;
  --box-shadow-color:#cfcfcf;
  --icon-color: #A9A9A9;
  --scale-color: #FFFFFF ;
  --background-toggle: #ababab;
  --find-active: rgba(255, 255, 255, 0.3);
}
/*-------------- Общие свойства----------------- */
body{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  background-color: var(--features-gray);
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.page-body{
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*Отключение ползунков меню*/
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity {
  -moz-appearance: textfield;
}
.quantity:hover,
.quantity:focus {
  -moz-appearance: number-input;
}
.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*---------------------*/
/*---------------------------Меню----------------------*/
.site-navigation{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  list-style: none;
  color: var(--black-font);
  background-color: var(--white-font);
}
.site-navigation a{
  color: var(--black-font);
  text-decoration: none;
}
.site-navigation li{
}
.site-navigation li:first-child{
  padding-left: 72px;
  width: 240px;
}
.site-navigation li:last-child{
  text-align: right;
  padding-right: 72px;
  width: 240px;
}
.site-navigation li:nth-child(2){
  min-width: 240px;
  text-align: center;
}
.site-navigation li:nth-child(3){
  min-width: 240px;
  text-align: center;
  margin-left: 240px;
}
.site-navigation a:hover{
  color:var(--selection-color);
}
.site-navigation a:active{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.menu{
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  background-color: var(--white-font);
}
.main-navigation{
  padding: 15px 0;
}
.hotels-menu a, .hotels-menu a:hover, .hotels-menu a:active{
  color: var(--menu-item);
}
.logo{
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}
.mainpic svg{
  margin: 77px 0px;
}
/*------------------------Футер-----------------------*/
.contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 70px;
  margin-top: -3px;
}
.contacts a{
  display: flex;
  flex-wrap: nowrap;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font);
  text-decoration: none;
}
.contacts a:first-child{
  margin-bottom: 10px;
}
.academy{
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--academy-black);
  margin-top: 14px;
  margin-right: 83px;
}
.academy:hover path{
  fill: var(--active-button);
}
.academy:active path{
  fill: var(--academy-gray);
}
.academy span{
  padding: 0px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-footer{
  z-index: 5;
  width: 1200px;
  margin:-120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
  background-color: var(--footer-color);
}
.hotels-footer{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--footer-color);
  padding: 30px 0px;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: inherit;
}
.hotels-footer ul{
  margin:0;
  margin-top: 10px;
  margin-left: 6px;
  padding: 0;
}
.social-icons:hover{
  background-color: var(--hover-button);
}
.social-icons:active{
  background-color: var(--active-button);
}
.social-icons:active path{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.social a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--selection-color);
}
.social li{
  margin-left: 0px;
  margin-right: 6px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----------------Свойства для index---------------*/
.mainpic{
  display: flex;
  justify-content: center;
  background: url(../img/background-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-font);
  padding: 35px 300px;
  position: relative;
}
.description svg{
  position: absolute;
  top: -56px;
  left: 0px;
}
.description h1{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-font);
  text-align: center;
  margin-bottom: 30px;
}
.description p{

  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.reasons{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.reasons-item{
  display: flex;
  flex-direction: column;
  background-color: var(--item-color);
  text-align: center;
  max-width: 400px;
  padding: 46px 46px;
}
.reasons-item span{
  margin: 26px 0;
}
.reasons-item h3{
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 21px;
  line-height: 21px;
  padding: 0px 75px;
}
.second-reasons-item{
  display: flex;
  flex-direction: column;
  background-color: var(--item-color);
  text-align: center;
  max-width: 400px;
  padding: 50px 46px;
}
.second-reasons-item h3{
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 21px;
  line-height: 21px;
  padding: 0px 75px;
}
.second-reasons-item p{
  margin-block-start: 0;
  margin-block-end: 0;
}
.second-reasons-item span{
  margin: 26px 0;
}
.second-reasons-item span, .second-reasons-item p {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 14px;
  line-height: 21px;
}
.reasons-item span, .reasons-item p {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 14px;
  line-height: 21px;
}
.reasons-item p{
  margin-block-start: 0;
  margin-block-end: 0;
}
.reasons-image img{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 800px;
}
.features{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  background-color: var(--features-gray);
}
.features-item{
  text-align: center;
  padding: 48px 0;
}
.features-item h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding: 0px 140px;
  margin-block-start: 0;
  margin-block-end: 27px;
}
.features-item span{
  font-size: 14px;
  line-height: 21px;
}
.features-item p{
  text-transform: uppercase;
  padding: 0px 57px;
  font-size: 14px;
  line-height: 21px;
  margin-block-start: 25px;
  margin-block-end: 5px;
}
.features-item:nth-child(2) p{
  margin-block-start: 23px;
  padding: 0px 60px;
}
.features-item:last-child p{
  margin-block-start: 23px;
  padding: 0px 72px;
}
.advantages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--white-font)
}
.advantages-item:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 70px;
}
.advantages-item:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
.advantages-item:last-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
.advantages-item:last-child svg{
  margin-top: 55px;
}
.advantages-item h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  margin-top: 28px;
}
.advantages-item p{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  margin-top: 6px;
  margin-bottom: 80px;
}
.advantages-item svg{
  text-align: center;
  margin-top: 60px;
}
.interest{
  background-color: var(--white-font);
  padding: 57px 0px 131px 0;
}
.interest h2{
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font) ;
}
.interest p{
  margin-block-start: 32px;
  margin-block-end: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 370px;
}
.booking{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -87px;
  background-color: var(--white-font);
  left: 50%;
  margin-left:-284px;
}

.booking-form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 52px 42px;
}
.booking-form div{
  margin-bottom: 30px;
}
.booking-form-show{
  display:flex;
}
.booking-hidden{
  display: none;
}
.arriving-form{
  display: flex;
  align-items: center;
  position: relative;
}
.arriving-form label{
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.departure-form{
  display: flex;
  align-items: center;
  position: relative;
}
.countig-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.calendar-icon{
  position: absolute;
  right: 9px;
  top: 9px;
}
.calendar-icon path{
  fill:var(--icon-color);
}
.calendar-icon:hover path{
  fill: var(--black-font);
}
.calendar-icon:active path{
  fill: var(--item-color);
}
.plus-icon-adults{
  position: absolute;
  left: 230px;
  top: 1px;
}
.minus-icon-adults{
  left: 150px;
  top:-2px;
  position: absolute;
}
.plus-icon-children{
  position: absolute;
  left: 150px;
  top: 1px;
}
.minus-icon-children{
  left: 70px;
  top:-2px;
  position: absolute;
}
.adults-label ,.children-label{
  position: relative;
}
.counting-icons path, .counting-icons rect {
  fill:var(--icon-color);
}
.counting-icons:hover path,.counting-icons:hover rect {
  fill: var(--black-font);
}
.counting-icons:active path, .counting-icons:active rect{
  fill:var(--item-color);
}
.date-in{
  width: 346px;
  height: 38px;
  background-color: var(--rating-text);
  border: none;
}
.arriving-date-in{
  margin-left: 34px;
}
.departure-date-in{
  margin-left: 30px;
}
.quantity{
  background-color: var(--rating-text);
  border: none;
  width: 114px;
  height: 38px;
  text-align: center;
}
.adult{
  margin-left: 50px;
  margin-right: 50px;
}
.children{
  margin-left: 10px;
}
.booking-open{
  margin: 0;
  padding: 30px 140px;
  background-color:var(--menu-item);
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--white-font);
  border: none;
}
.booking, input[name="arriving"], input[name="departure"], input[name="adult"], input[name="child"]{
  font-weight: bold;
  color: var(--black-font);
  text-align: center;
  text-transform: uppercase;
}
.booking-open:hover{
  background-color: var(--button-book-hover);
}
.booking-open:active{
  background-color:var(--button-book-active);
  color: var(--find-active);
}

.find {
  margin-bottom: 3px;
  margin-top: 21px;
  align-self: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 195px;
  background: var(--item-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-font);
  border: 0;
}
.find:hover{
  background-color: var(--hover-button);
}
.find:active{
  color: var(--find-active);
  background-color: var(--active-button);
}
.map{
  z-index: 0;
  position: relative;
  height: 594px;
  background-image: url(../img/map.png);
  background-color: var(--features-gray);
  background-size: cover;
  background-repeat: no-repeat;
}
/*--------------------Свойства для hotels-----------------*/
.selection {
  background-color: var(--selection-color);
  background-image: url(../img/blur-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:217px;
}
.selection-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.find-config{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url(../img/line.png) repeat-x bottom center;
  padding: 11px 73px 14px 73px;
}
.find-config ul{
  display: flex;
  flex-direction: row;
}
.find-config li{
  margin-left: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.3;
}
.find-config li:hover{
  text-decoration: underline;
  text-decoration-style: dashed;
  color: var(--item-color);
}
.find-config li:active{
  color:var(--black-font);
  text-decoration: none;
  opacity: 1;
}
.find-config span{
  margin-left: 47px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
}
.find-config h2{
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.find-config-price{
  margin-left: 8px;
}
.find-config-rating{
  margin-left: 1px;
}
.arrows{
  padding-top: 10px;
  margin-right: 0;
  margin-left: auto;
}
.arrows li{
  margin-left: 12px;
}
.arrows-left path, .arrows-right path{
  fill:var(--arrows);
}
.arrows-left:hover path, .arrows-right:hover path {
  fill:var(--arrows-hover);
}
.arrows-left:active path, .arrows-right:active path{
  fill:var(--arrows-active);
}
.housing{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 72px;
  margin-top: 11px;
  color: var(--white-font);
}
.infra{
  display: flex;
  flex-direction: column;
  margin-right: 117px;

}
.infra ul{
  margin: 0;
  padding-left: 30px;
}
.housing li{
  padding: 13px 0px;
}
.type{
  display: flex;
  padding-left:0;
  flex-direction: column;
}
.type ul{
  padding-left: 33px;
  margin-top: -1px
}
.type li{

}
/*chek-boxes*/
.check-box{
  position: absolute;
  height: 23px;
  width: 23px;
  background-image: url(../img/checkbox-off.png);
  margin-left : -40px;
  cursor: pointer;
}
.check {
  position: relative;
  padding-left: 10px;
}
/*cheked check-boxes*/
.form-check:checked + .check-box{
  background-image: url(../img/checkbox-on.png);
}
/*disabled check-boxes*/
.form-check:disabled + .check-box{
  background-image: url(../img/checkbox-off-dis.png);
}
.form-check:checked:disabled + .check-box{
  background-image: url(../img/checkbox-on-dis.png);
}
.selection-form h2{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.selection-form ul{
  list-style-type: none;
}
/*Фильтр с диапазоном*/
.price{
  display: flex;
  flex-direction: column;
  color:var(--white-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
  margin-top: 15px;
  margin-right: 73px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 316px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.filter-item legend {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}
.range-controls {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;
  height: 20px;
  background-color: none;
  border-radius: 5px;
  margin-bottom: -40px;
  padding-top: 16px;
}
.range-controls .scale {
  height: 2px;
  width: 107%;
  background: var(--scale-color);
  margin-top: 4px;

}
.scale{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.range-controls .bar {
  width: 87%;
  height: 2px;
  background: var(--scale-color);
  margin-left: 0%;
  margin-top: -1px;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white-font);
  background-color: var(--background-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--box-shadow-color);
  cursor: pointer;
}
/*положение ползунков*/
.range-controls .toggle-min {
  left: 0%;
  top: 11px;
}
.range-controls .toggle-max {
  left: 80%;
  top: 11px;
}
/*---------------*/
.price-controls {
  display: flex;
  border: 2px solid var(--white-font);
  border-radius: 2px;
  height: 33px;
}
.price-controls label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
.price-controls input {
  width: 60px;
  padding-top: 10px;
  text-align: center;
  color: var(--white-font);
  border: none;
  border-radius: 5px;
  background: none;
  font-family: inherit;
  font-size: inherit;
}
.min-price{
  margin-left: 64px;
}
.min-price input{
  margin-left: -17px;
}
.price-rectangle{
  width: 2px;
  height: 22px;
  background-color: var(--white-font);
  align-self: center;
  margin-left: 29px;
}
.max-price{
  margin-left: 52px;
}
.max-price input{
  margin-left: -6px;
}
.show-button{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background:none;
  border: 2px solid var(--white-font);
  color:var(--white-font);
  border-radius: 2px;
  text-transform: uppercase;
  padding: 7px 35px;
  margin-top: 59px;
  margin-right: 11px;
  align-self: center;
  cursor: pointer;
}
.show-button:hover{
  color:var(--black-font);
  background-color:var(--white-font);
}
.hotel{
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  background: url(../img/line.png) repeat-x bottom center;
  height: 150px;
  padding: 0px 53px 0px 73px;
}
.hotel-img{
  margin-top: 7px;
  align-self:center;
}
.hotel-info{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.rating-catalog-cart{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 28px;
  align-items: flex-end;
  justify-content: space-between;
}
.rating-stars-list{
}
.rating-catalog-cart .rating-text{
}
.rating-stars-list li{
  margin-right: 5px;
}
.rating-catalog-cart span{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.rating-catalog-cart .rating-stars-list{
  margin-right: 15px;
}
.rating-text{
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 3px 12px;
  background-color:var(--rating-text);
  color: var(--rating-number);
}
.rating-stars-list {
  display: flex;
}

.wrappers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
.hotel-wrapper-content{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.hotel-wrapper-button{
  display: flex;
  flex-direction: column;
}
.hotel h1{
  width: 100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-top: -4px;
}
.hotel a{
  text-decoration: none;
  text-transform: uppercase;
}
.hotel-info span{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.hotel-name {
  color: var(--black-font);
}
.hotel-name:hover{
  color: var(--selection-color);
}
.hotel-name:active{
  mix-blend-mode: normal;
  opacity: 0.3;
}
.finder{
  display: flex;
  flex-direction: column;
  background-color: var(--white-font);
}
.finder ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}
.button-more{
  margin-top: 5px;
  padding: 3px 17px;
  background-color:var(--selection-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--white-font);
}
.button-more:hover{
  background-color: var(--hover-button);
}
.button-more:active{
  background-color: var(--active-button);
}
.button-more:active{
  color: var(--find-active);
}
.button-book{
  margin-top: 5px;
  padding: 3px 17px;
  background-color:var(--menu-item);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--white-font);
}
.button-book:hover{
  background-color: var(--button-book-hover);
}
.button-book:active{
  background-color: var(--button-book-active);
  color: var(--find-active);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
