


/*-------------- Общие свойства----------------- */
:root{
  --item-color: #81B3D2;
  --black-font:#000000;
  --white-font: #FFFFFF;
  --selection-color: #81B3D2;
  --features-gray: #EEEEEE;
  --footer-color: rgba(255, 255, 255, 0.9);
}
body{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  background-color: var(--features-gray);
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.page-body{
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*---------------------------Меню----------------------*/
.site-navigation{
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.site-navigation li{
  width:240px;

}
.site-navigation li:first-child{
  padding-left:72px;
}
.site-navigation li:last-child{
  padding-right: 72px;
  align-self: flex-end;
}
.site-navigation li:nth-child(2){
  align-self: center;
}
.site-navigation li:nth-child(3){
    align-self: center;
    margin-left: 240px;
}
.menu{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-font);
  background-color: var(--white-font);
}
.menu a{
  color: var(--black-font);
  text-decoration: none;
}

/*------------------------Футер-----------------------*/
.contacts{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.contacts a{
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font);
  text-decoration: none;
  padding: 0px 100px;
}
.academy{
  display: flex;
  justify-content: center;
}
.academy span{
  padding: 0px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-footer{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 0;
  background-color: var(--footer-color);
}
.social{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;

}
/*----------------Свойства для index---------------*/
.mainpic{
  display: flex;
  justify-content: center;
  background: url(../img/background-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description h1{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-font);
  text-align: center;
}
.description p{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.reasons{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.reasons-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--item-color);
  text-align: center;
  width:400px;
}
.reasons-item h3{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 21px;
  line-height: 21px;
}
.reasons-item span, .reasons-item p {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 14px;
  line-height: 21px;
}
.reasons-image img{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 800px;
}
.features{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--features-gray);
}
.features-item{
  justify-content: center;
  text-align: center;
}
.advantages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--white-font)
}
.advantages-item h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advantages-item p{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
}
.interest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-font);
}
.interest h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font) ;
}
.interest p{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.booking h2{
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--white-font);
}
.booking, input[name="arriving"], input[name="departure"], input[name="adult"], input[name="child"]{
  font-weight: bold;
  color: var(--black-font);
  text-align: center;
  text-transform: uppercase;
}
.find {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background: #81B3D2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-font);
  border: none;
}

/*--------------------Свойства для hotels-----------------*/
.selection {
  background-color: var(--selection-color);
  background-image: url(../img/blur-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom:32px;
}
.selection-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.housing{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.infra{
  display: flex;
  flex-direction: column;
  padding-left:72px;
  margin-right: 119px;

}
.infra ul{
  padding-left: 0;
}
.housing li{
  padding:20px 0px;
}
.type{
  display: flex;
  flex-direction: column;
}
.type ul{
  padding-left: 0;

}
.selection-form h2{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.selection-form ul{
  list-style-type: none;
}
.price{
  display: flex;
  flex-direction: column;

  color:var(--white-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-right: 72px;
}
.price h2{
  padding-bottom: 10px;
}
.price input{
  padding-bottom: 32px;
}
.hotel h1{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hotel a{
  color: var(--black-font);
  text-decoration: none;
}
.hotel span{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.finder ul {
  list-style-type: none;
}
