


/*-------------- Общие свойства----------------- */
:root{
--item-color: #81B3D2;
--black-font:#000000;
--white-font: #FFFFFF;
}
.menu{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font);
}
.menu li {
  list-style-type: none;
}
.menu a{
  color: var(--black-font);
  text-decoration: none;
}
.contacts a{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color:var(--black-font);
  text-decoration: none;
}
.academy span{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
/*----------------Свойства для index---------------*/
.begin{
 background-image: url(../img/background-photo.png);
 background-repeat: no-repeat;
}
.descr h1{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black-font);
  text-align: center;
}
.descr p{
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.reasons-item{
  background-color: var(--item-color);
}
.reasons-item h3{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reasons-item span, .reasons-item p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--white-font);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.advantages-item h3{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: var(--white-font);
}

.advantages-item p{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
}

.interest h2{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-font) ;
}
.interest p{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.booking h2{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--white-font);
}
.booking, input[name="arriving"], input[name="departure"], input[name="adult"], input[name="child"]{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--black-font);
  text-align: center;
  text-transform: uppercase;
}
.find {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background: #81B3D2;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-font);
  border: none;
}
/*--------------------Свойства для hotels-----------------*/
.selection {
  background-color: #81B3D2;
}
.selection-form h2{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.selection-form ul{
  list-style-type: none;
}
.infra, .housing{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white-font);
}
.price{
  color:var(--white-font);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.hotel h1{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hotel a{
  color: var(--black-font);
  text-decoration: none;
}
.hotel span{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.finder ul {
  list-style-type: none;
}
